img{
    width: 80px;
    height: 80px;
}
body{
    background-color: black;
}
h1{
    color: red;
}
p{
    color: white;
}
.fotoshop{
    text-align: center;
    background-color: yellow;
    width: 250px;
    margin: 20px 210px;
}
.fotoshop:hover{
    background-color: blue;
    cursor: pointer;
}
div{
    text-align: center;
}
a:hover{
    color: red;
    cursor: pointer;
}
